* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #eee;
}

header {
  background-color: #2c2e33;
  border-bottom: 3px solid #024e8b;
  padding: 10px;
}
header h1 {
  color: #eee;
  margin-bottom: 0px;
  font-size: 24px;
}

ul li {
  text-transform: capitalize;
}
.highlight {
  background-color: #024e8b;
  color: #eee;
}